*{
    box-sizing: border-box;
}

.content {
    margin: 10px 10px 10px 5px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    width: 45%;
}

.modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    
}

.modal_bg {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.close {
    text-align: right;
    color: royalblue;
    margin-top: 10px;
    font-size: 20px;
}

.Linespacing {
    margin: 5px 0px 5px 0px;
}

.video_class {
    text-align: center;
    width: 500px;
    height: 500px;
}
.video_size{
    width: 500px;
    height: 500px;
    
}

.Exp_ext{
    padding: 60px 5px 0px 10px;
}

.image{
    width: 80%;
    height: 80%;
}
